@page "/boat_overview"
<h3>Boat Overview</h3>

<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary d-block mb-3" href="add-boat">Add Boat</a>
            <div class="card">
                <img src="..." style="float:left" class="card-img-top" alt="...">
                <div class="card-body" style="float: right">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="oi oi-action-redo"> Edit Boat</a>
                    <br />
                    <a href="#" class="oi oi-delete">Delete boat</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
